/*Nav Style*/
#myNavbar {
    background-color: #ec93ec!important;
    }   
    #myNavbar a {
    color: aquamarine;  
    }
    #myNavbar a:hover {
    background-color:aquamarine!important;         
}
/*Font Style for "Contact" and background color*/
#w3-container{
    color:aquamarine!important;    
    }
    body{
    background-color: rgb(89, 115, 117)!important;
    }

/*footer*/
#myFooter {
    font-size:18px!important;
    font-family: "Amatic SC", sans-serif!important;
    font-weight:normal;
    color:rgb(185, 174, 174);
}
