#w3-center{
    font-size: 9em!important; 
    font-weight: bold;
    color: rgb(200, 86, 231);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: 1px rgb(139, 29, 125);
}

p {
    font-family: KalamRegular;
    font-size:40px;
}
p{
  font-weight:normal;
  font-family: "Amatic SC", sans-serif!important;            
  -webkit-text-stroke: 1px rgb(244, 247, 246);
}



